MOTORCOVE_RPC_URL=http://127.0.0.1:8545
MOTORCOVE_CHAIN_ID=31337
MOTORCOVE_ENV=local
MOTORCOVE_DEPLOYMENT_MANIFEST=./deployments/local/manifest.json
MOTORCOVE_API_HOST=127.0.0.1
MOTORCOVE_API_PORT=3001
MOTORCOVE_WEB_ORIGIN=http://127.0.0.1:5173
VITE_MOTORCOVE_API_URL=http://127.0.0.1:3001
VITE_MOTORCOVE_RPC_URL=http://127.0.0.1:8545
VITE_MOTORCOVE_CHAIN_ID=31337
